<template name="profile">
  <form class="profile">
    <div class="template-dashboard">
      <div class="page-header">
        <h1>My profile</h1>
      </div>
      <div class="at-error alert">
        <p></p>
      </div>
      <p>
        <label class="control-label" for="at-field-email">
          Email (login name)
        </label>
        <input class="form-control"
               id="at-field-email"
               name="at-field-email"
               placeholder="email"
               readonly
               autocapitalize="none"
               autocorrect="off"
               value="{{email}}">
      </p>

      <p>
        <label class="control-label" for="at-field-first-name">
          First name
        </label>
        <input class="form-control"
               id="at-field-first-name"
               name="at-field-first-name"
               placeholder="First name"
               autocapitalize="none"
               autocorrect="off"
               value="{{profile.firstName}}">
      </p>

      <p>
        <label class="control-label" for="at-field-last-name">
          Last name
        </label>
        <input class="form-control"
               id="at-field-last-name"
               name="at-field-last-name"
               placeholder="Last name"
               autocapitalize="none"
               autocorrect="off"
               value="{{profile.lastName}}">
      </p>

      <p>
        <label class="control-label" for="at-field-alternative-email">
          Alternative email
        </label>
        <input class="form-control"
               id="at-field-alternative-email"
               name="at-field-alternative-email"
               placeholder="Alternative email"
               autocapitalize="none"
               autocorrect="off"
               value="{{profile.alternativeEmail}}">
      </p>

      <p>
        <label class="control-label" for="at-field-repository">
          Github repository
        </label>
        <input class="form-control"
               id="at-field-repository"
               name="at-field-repository"
               placeholder="Github repository"
               autocapitalize="none"
               autocorrect="off"
               value="{{profile.repository}}">
      </p>

      <p class="text-center">
        <a href="#" class="discard btn btn-default navbar-btn">Discard</a>
        <a href="#" class="save btn btn-primary navbar-btn">Save</a>
      </p>
    </div>
  </form>
</template>
